body{
    background-color: rgb(255, 199, 121);
}

#container{
    width: 500px;
    height: 500px;  
    position: relative; 
    top: 10vh;
    margin: auto;
    border: 4px solid black;
    border-radius: 100%;
    box-shadow: 10px 10px 15px rgb(160, 124, 76);
}
.cell{
    width: 50%;
    height: 50%;
    float:left;
    border: 5px solid #000;
}
#topLeft{
    border-top-left-radius: 100%;
    background-color: rgb(97, 184, 97);
    box-shadow: 2px 2px 15px 5px rgb(134, 231, 134) inset;
    
}
#topRight{
    border-top-right-radius: 100%;
    background-color: rgb(253, 106, 106);
    box-shadow: 2px 2px 15px 5px rgb(248, 177, 177) inset;
    
}
#bottomLeft{
    border-bottom-left-radius: 100%;
    background-color: rgb(255, 255, 110);
    box-shadow: 2px 2px 15px 5px rgb(255, 255, 167) inset;
    
    
}
#bottomRight{
    border-bottom-right-radius: 100%;
    background-color: rgb(132, 132, 255);
    box-shadow: 2px 2px 15px 5px rgb(181, 181, 255) inset;
    
    
}
#innerCircle{
    width: 250px;
    height: 250px;
    border: 8px solid black;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -140px 0px 0px -125px;
    background-color: rgb(216, 216, 216);
    padding: 5px;
    /*box-shadow: 5px 5px 15px rgb(184, 183, 183) inset;*/

}

#name{
    text-align: center;
    padding-left: 12px;    
    line-height: 150px;
    font-size: 86px;
    font-weight: bold;
    font-family: Teko, Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    width:224px;
    height:112px;
    border-top-left-radius: 112px;
    border-top-right-radius: 112px;
    
}
p{
    display: inline;
    font-weight: normal;
    font-size: 12px;
}

.inline{
    display: inline-block;  
    margin: 20px 5px 0px 5px;      
}


#buttons{
    text-align: center;
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
    
    
}
#button1{
    width:50px;
    height: 30px;
    color: red;
    font-size: 26px;
    font-family: Share Tech Mono, monospace, Arial, Helvetica, sans-serif;
    line-height: 30px;
    background-color: rgb(41, 13, 13);
    border: 1px inset rgb(179, 176, 176);
    border-radius: 5px;
}

#button2{
    width:30px;
    height: 30px;
    background-color: rgb(223, 32, 32);
    border: 1px ridge rgb(104, 2, 2);
    border-radius: 100%;
    box-shadow: 2px 2px 5px rgb(141, 140, 140),
    2px 2px 5px rgb(104, 2, 2) inset;
}

#button3{
    width:30px;
    height: 30px;
    background-color: rgb(223, 194, 32);
    border: 1px ridge rgb(153, 161, 33);
    border-radius: 100%;
    box-shadow: 2px 2px 5px rgb(141, 140, 140), 
    2px 2px 5px rgb(153, 161, 33) inset;
}

